{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}QuestLog{% endblock %}</title>
    {# Load the tag library #}
  {% load django_bootstrap5 %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}


</head>
<body>
  <nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="{% static 'images/questlog-logo.png' %}" alt="QuestLog Logo" style="height:40px; vertical-align:middle;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:home' %}">Home</a>
      </li>
  {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:tasks' %}">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:parties' %}">Parties</a>
      </li>
  {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:register' %}">Sign Up</a>
      </li>
  {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:parties' %}">Parties</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:leaderboard' %}">Leaderboard</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'QuestLog:profile' %}">Profile</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-secondary btn-sm ms-2" onclick="toggleTheme()"> 🌙 / ☀️ </button>
      </li>
    </ul>
  </div>
</nav>
  <div class="container py-4">
    {% block content %}{% endblock %}
  </div>

<script>
   //apply the saved theme immediately
  const saved = localStorage.getItem('theme') || 'light';
  document.documentElement.setAttribute('data-bs-theme', saved);

  function toggleTheme() {
    const current = document.documentElement.getAttribute('data-bs-theme');
    const next = current === 'dark' ? 'light' : 'dark';
    document.documentElement.setAttribute('data-bs-theme', next);
    localStorage.setItem('theme', next);
  }
</script>
</body>
</html>
