{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %} Login | Quest Log {% endblock %}


{% block content %}

    <div class="row justify-content-center" >

        <div class="col-md-6  col-lg-5">

            <div class="card">

                <div class="card-body">
                    <h1 class="h3 mb-4" >Sign In</h1>


                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% bootstrap_form form %}
                        <button   type="submit"
                                 class="btn btn-primary w-100">
                                 Sign In
                        </button>

                    </form>


                    <!--link to reg-->
                    <p class="mt-3 mb-0" >

                        Don't have an account?

                        <a href="{% url 'QuestLog:register' %}">
                            Create one
                        </a>

                    </p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
